<h2>Forgot your password?</h2>

<fieldset>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  <div class="col-lg-10">
    
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Enter your email" %>
  </div>
  </div>

  <div class="actions">
  <div class="col-lg-10">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
  </div>

<% end %>
</fieldset>
<br>
<br>

<div class="col-lg-10">
<%= render "devise/shared/links" %>
</div>